/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
/* Maitre & Maven pro & open sans*/
@import url("https://fonts.googleapis.com/css2?family=Maitree&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Reset */
* {
  padding: 0;
  margin: 0;
  border: 0; }

/* Variables */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .banner p {
    color: #BEA88E;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    margin: 0; }
  .banner h2 {
    color: white;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    margin: 0; }
  .banner p, .banner h2 {
    font-weight: bold;
    text-align: center; }

.footer .contenedorFooter .seccionLinks, .footer .contenedorFooter .seccionRedes, .footer .contenedorFooter .seccionContacto {
  display: flex;
  flex-direction: column;
  gap: 10px; }
  .footer .contenedorFooter .seccionLinks h4, .footer .contenedorFooter .seccionRedes h4, .footer .contenedorFooter .seccionContacto h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #F9FAFA;
    margin: 0; }
  .footer .contenedorFooter .seccionLinks ul, .footer .contenedorFooter .seccionRedes ul, .footer .contenedorFooter .seccionContacto ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; }
    .footer .contenedorFooter .seccionLinks ul li, .footer .contenedorFooter .seccionRedes ul li, .footer .contenedorFooter .seccionContacto ul li {
      list-style: none;
      font-family: 'Open Sans', sans-serif;
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 14px;
      color: #C4C4C4;
      cursor: pointer; }
      .footer .contenedorFooter .seccionLinks ul li:hover, .footer .contenedorFooter .seccionRedes ul li:hover, .footer .contenedorFooter .seccionContacto ul li:hover {
        color: white; }
      .footer .contenedorFooter .seccionLinks ul li a, .footer .contenedorFooter .seccionRedes ul li a, .footer .contenedorFooter .seccionContacto ul li a {
        text-decoration: none;
        color: #C4C4C4; }
        .footer .contenedorFooter .seccionLinks ul li a:hover, .footer .contenedorFooter .seccionRedes ul li a:hover, .footer .contenedorFooter .seccionContacto ul li a:hover {
          color: white; }
      .footer .contenedorFooter .seccionLinks ul li i, .footer .contenedorFooter .seccionRedes ul li i, .footer .contenedorFooter .seccionContacto ul li i {
        color: #BEA88E;
        font-size: 1rem; }

/* Componentes */
.botones {
  padding: .5rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  background-color: #151D1B;
  color: white;
  cursor: pointer; }
  .botones:hover {
    background-color: #BEA88E;
    transition: .5s; }

.comprar {
  background-color: #28a745; }

.carousel {
  margin: 3rem auto; }

/* Header */
.header {
  grid-area: header;
  background-image: url("https://res.cloudinary.com/dtpfo51rx/image/upload/v1657546764/banner-inicio_xcuub0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 10rem; }

/* Navbar */
.navbar .container-fluid {
  margin: 1rem 0;
  padding: 0 1.5rem; }
  .navbar .container-fluid .offcanvas {
    --bs-offcanvas-width: 250px; }
    .navbar .container-fluid .offcanvas .offcanvas-header {
      justify-content: flex-end; }
    .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav {
      align-items: center; }
  .navbar .container-fluid .navbar-collapse {
    justify-content: space-between; }
    .navbar .container-fluid .navbar-collapse img {
      width: 65px;
      height: 65px;
      transition: .7s;
      cursor: pointer; }
      .navbar .container-fluid .navbar-collapse img:hover {
        transform: scale(1.1); }
    .navbar .container-fluid .navbar-collapse .nav-link {
      font-family: 'Open Sans', sans-serif;
      color: #FFF;
      text-decoration: none;
      font-size: 1.1rem;
      margin: 0 6px;
      padding-top: 10px;
      position: relative;
      z-index: 0;
      cursor: pointer; }
      .navbar .container-fluid .navbar-collapse .nav-link:before, .navbar .container-fluid .navbar-collapse .nav-link:after {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 2px;
        background: #BEA88E;
        content: "";
        opacity: 0;
        transition: all 0.3s; }
      .navbar .container-fluid .navbar-collapse .nav-link:before {
        top: 0px;
        transform: translateY(10px); }
      .navbar .container-fluid .navbar-collapse .nav-link:after {
        bottom: 0px;
        transform: translateY(-10px); }
      .navbar .container-fluid .navbar-collapse .nav-link:hover:before, .navbar .container-fluid .navbar-collapse .nav-link:hover:after {
        opacity: 1;
        transform: translateY(0px); }
    .navbar .container-fluid .navbar-collapse .cmActive:before, .navbar .container-fluid .navbar-collapse .cmActive:after {
      opacity: 1;
      transform: translateY(0px); }

/* Footer */
.footer {
  grid-area: footer; }
  .footer .contenedorFooter {
    min-height: 45vh;
    background-color: #151D1B;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center; }
    .footer .contenedorFooter .seccionLogo {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      width: 20%; }
      .footer .contenedorFooter .seccionLogo .logoFooter {
        width: 100px;
        cursor: pointer; }
      .footer .contenedorFooter .seccionLogo p {
        color: #C4C4C4;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        margin: 0;
        text-align: left;
        line-height: normal; }
        .footer .contenedorFooter .seccionLogo p span {
          font-weight: bold; }
  .footer .seccionCopyright {
    background-color: #151D1B;
    border-top: 1px solid #2C3033; }
    .footer .seccionCopyright p {
      color: #C4C4C4;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 0;
      text-align: center;
      padding: 2rem 0; }
      .footer .seccionCopyright p span {
        font-weight: bold; }

/* Inicio */
.contenedorInicio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header" "main main main" "main main main" "destacados destacados destacados" "footer footer footer";
  width: auto; }
  .contenedorInicio .main {
    grid-area: main; }
    .contenedorInicio .main .acaInicio {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 7rem 0 4rem; }
      .contenedorInicio .main .acaInicio .nosotrosInicio {
        padding: 0 1rem;
        width: 40%; }
        .contenedorInicio .main .acaInicio .nosotrosInicio h3 {
          margin-bottom: .5rem;
          font-weight: bold;
          font-family: 'Raleway', sans-serif;
          font-size: 1.8rem; }
        .contenedorInicio .main .acaInicio .nosotrosInicio p {
          text-align: justify;
          font-weight: 400;
          font-family: 'Maven Pro', sans-serif;
          margin: 0;
          font-size: 1.2rem; }
  .contenedorInicio .seccionDestacados {
    grid-area: destacados;
    height: 650px;
    background-image: url("https://res.cloudinary.com/dtpfo51rx/image/upload/v1657715490/destacados-test-2_ifepsc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 7rem 0; }
    .contenedorInicio .seccionDestacados .desTituloPrincipal {
      font-size: 2.3rem;
      font-weight: bold;
      color: white;
      text-align: center;
      padding: 2rem 0; }
    .contenedorInicio .seccionDestacados .destacados {
      transition: 1s;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .contenedorInicio .seccionDestacados .destacados .cardDes {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        height: 450px;
        width: 350px;
        border-radius: 5px; }
        .contenedorInicio .seccionDestacados .destacados .cardDes .cardImg {
          width: 100%;
          height: 50%; }
        .contenedorInicio .seccionDestacados .destacados .cardDes .cardBody {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 50%; }
          .contenedorInicio .seccionDestacados .destacados .cardDes .cardBody .cardTitulo h4,
          .contenedorInicio .seccionDestacados .destacados .cardDes .cardBody .cardTitulo p {
            margin: 0;
            text-align: center; }
          .contenedorInicio .seccionDestacados .destacados .cardDes .cardBody .cardTitulo h4 {
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
            margin-bottom: .5rem; }
          .contenedorInicio .seccionDestacados .destacados .cardDes .cardBody .cardTitulo p {
            width: 80%;
            margin: 0 auto;
            color: #3d3d3d;
            text-align: center;
            font-size: 14px;
            font-family: 'Maven Pro', sans-serif; }
          .contenedorInicio .seccionDestacados .destacados .cardDes .cardBody .cardBtn {
            width: 50%;
            margin: 0 auto; }

/* Productos */
#bannerProductos {
  background-image: url("https://res.cloudinary.com/dtpfo51rx/image/upload/v1657546761/banner-productos_v3d6lq.jpg"); }

.medidaPortada {
  background-image: url("https://res.cloudinary.com/dtpfo51rx/image/upload/v1657546760/banner-medida_gjkvuj.jpg");
  background-position: center;
  background-position-y: 65%;
  height: 550px; }

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2rem;
  justify-items: center;
  width: 60vw;
  margin: 2rem auto; }
  .productos .producto {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    height: 32rem;
    width: 20rem;
    font-family: 'Open Sans', sans-serif; }
    .productos .producto img {
      width: 100%; }
    .productos .producto .productoCard {
      padding: 5px 10px; }
      .productos .producto .productoCard .drow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .4rem; }
      .productos .producto .productoCard p {
        color: #3d3d3d;
        margin-bottom: 1.7rem;
        font-size: 14px;
        padding: 0 1rem; }
      .productos .producto .productoCard h4,
      .productos .producto .productoCard h3 {
        font-weight: bold;
        color: black;
        margin: 1.5rem 0; }
      .productos .producto .productoCard h4 {
        font-size: 1.17rem; }
      .productos .producto .productoCard h3 {
        font-size: 1rem; }
      .productos .producto .productoCard .productoBotones {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem; }

/* Galeria */
#bannerGaleria {
  background-image: url("https://res.cloudinary.com/dtpfo51rx/image/upload/v1657546762/banner-galeria_zfd245.jpg"); }

.galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5rem;
  width: 70vw;
  margin: 2rem auto; }
  .galeria .imagenGaleria {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.3);
    cursor: pointer;
    transition: all 200ms ease-in; }
    .galeria .imagenGaleria:hover {
      filter: grayscale(0); }
  .galeria .imagen1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; }
  .galeria .imagen2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; }
  .galeria .imagen3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4; }
  .galeria .imagen4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: -7;
    grid-row-end: -5; }
  .galeria .imagen5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4; }
  .galeria .imagen6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; }
  .galeria .imagen7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5; }
  .galeria .imagen8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7; }
  .galeria .imagen9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6; }
  .galeria .imagen10 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6; }
  .galeria .imagen11 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7; }
  .galeria .imagen12 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7; }

/* Custom lightbox */
.lightbox .lb-image {
  border-radius: 0px;
  border: 0px solid #fff; }

/* Nosotros */
#bannerNosotros {
  background-image: url("https://res.cloudinary.com/dtpfo51rx/image/upload/v1657546762/banner-nosotros_xfen69.jpg"); }

.carousel .carousel-inner .carousel-item .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px; }

.carousel .carousel-inner .carousel-item .carousel1 {
  background-image: url("https://res.cloudinary.com/dtpfo51rx/image/upload/v1657660146/carousel1_uxwjw8.jpg"); }

.carousel .carousel-inner .carousel-item .carousel2 {
  background-image: url("https://res.cloudinary.com/dtpfo51rx/image/upload/v1657660146/carousel3_v4feuk.jpg"); }

.carousel .carousel-inner .carousel-item .carousel3 {
  background-image: url("https://res.cloudinary.com/dtpfo51rx/image/upload/v1657660146/carousel2_ukch9k.jpg"); }

.conocenos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }
  .conocenos .nosotrosDescripcion section {
    padding: 0 4rem; }
  .conocenos .nosotrosDescripcion,
  .conocenos .nosotrosPrincipal {
    width: 50%; }
  .conocenos h3 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem; }
  .conocenos h3 span {
    font-weight: bold; }
  .conocenos p {
    text-align: justify;
    font-weight: 400;
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    font-size: 1.2rem; }
    .conocenos p span {
      font-weight: bold; }
  .conocenos .nosotrosPrincipal {
    filter: grayscale(1); }

/* Contacto */
.contenedorGeneral {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 2rem 0; }
  .contenedorGeneral .seccionFormulario,
  .contenedorGeneral .horariosUbicacion,
  .contenedorGeneral .contactoTitulos {
    width: 50vw; }
  .contenedorGeneral .contactoTitulos {
    margin: 2rem auto; }
    .contenedorGeneral .contactoTitulos h3 {
      margin: 1rem 0 .5rem;
      font-weight: bold;
      font-family: 'Raleway', sans-serif;
      font-size: 1.8rem; }
    .contenedorGeneral .contactoTitulos p {
      font-weight: 400;
      font-family: 'Maven Pro', sans-serif;
      margin: 0;
      font-size: 1rem; }
    .contenedorGeneral .contactoTitulos h3,
    .contenedorGeneral .contactoTitulos p {
      text-align: center; }
  .contenedorGeneral .seccionFormulario,
  .contenedorGeneral .horariosUbicacion {
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
    border: 3px solid #bea88e; }
  .contenedorGeneral .seccionFormulario .formulario {
    width: 100%; }
    .contenedorGeneral .seccionFormulario .formulario .flexRow {
      display: flex;
      flex-direction: row; }
    .contenedorGeneral .seccionFormulario .formulario input[type=text],
    .contenedorGeneral .seccionFormulario .formulario input[type=email],
    .contenedorGeneral .seccionFormulario .formulario textarea {
      padding-bottom: .5rem;
      outline: none;
      border-bottom: solid 2px #ccc;
      font-size: 1rem;
      font-family: 'Maven Pro', sans-serif;
      margin-bottom: 2rem; }
    .contenedorGeneral .seccionFormulario .formulario input[type=text],
    .contenedorGeneral .seccionFormulario .formulario input[type=email] {
      width: 50%; }
    .contenedorGeneral .seccionFormulario .formulario input[type=text]:focus,
    .contenedorGeneral .seccionFormulario .formulario input[type=email]:focus,
    .contenedorGeneral .seccionFormulario .formulario textarea:focus {
      transition: 2s;
      border-bottom: solid 2px #151D1B; }
    .contenedorGeneral .seccionFormulario .formulario .apellido,
    .contenedorGeneral .seccionFormulario .formulario .motivo {
      margin-left: 1rem; }
    .contenedorGeneral .seccionFormulario .formulario textarea {
      resize: none;
      width: 100%; }
  .contenedorGeneral .horariosUbicacion {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .contenedorGeneral .horariosUbicacion .horarios h4 {
      font-weight: bold;
      font-family: 'Raleway', sans-serif;
      font-size: 1.2rem; }
    .contenedorGeneral .horariosUbicacion .horarios ul {
      display: flex;
      flex-direction: column;
      gap: 5px; }
    .contenedorGeneral .horariosUbicacion .horarios ul li {
      list-style-type: square; }
    .contenedorGeneral .horariosUbicacion .horarios ul li span {
      font-weight: bold; }
    .contenedorGeneral .horariosUbicacion .mapa {
      filter: grayscale(0.5);
      transition: 1s; }
      .contenedorGeneral .horariosUbicacion .mapa:hover {
        filter: grayscale(0); }

/* Responsive */
@media (max-width: 1660px) {
  .productos {
    width: 80vw; }
  .contenedorGeneral .seccionFormulario,
  .contenedorGeneral .horariosUbicacion {
    width: 60vw; } }

@media (max-width: 1361px) {
  .contenedorInicio .main .acaInicio {
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin: 2rem auto; }
    .contenedorInicio .main .acaInicio .nosotrosInicio {
      width: 100%;
      padding: 0; }
      .contenedorInicio .main .acaInicio .nosotrosInicio p {
        margin-bottom: 1rem; }
    .contenedorInicio .main .acaInicio .imagenPrincipal {
      width: 100%; }
  .conocenos {
    flex-direction: column;
    width: 70vw; }
    .conocenos .nosotrosPrincipal,
    .conocenos .nosotrosDescripcion {
      width: 100%; }
    .conocenos .nosotrosDescripcion section {
      padding: 1rem; }
  .contenedorGeneral .seccionFormulario,
  .contenedorGeneral .horariosUbicacion {
    width: 70vw; } }

@media (max-width: 1240px) {
  .contenedorInicio .seccionDestacados {
    padding: 1rem;
    height: auto; }
    .contenedorInicio .seccionDestacados .destacados {
      flex-wrap: wrap;
      gap: 1.5rem; }
  .productos {
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    row-gap: 1rem; }
  .banner p {
    font-size: 1rem; }
  .banner h2 {
    font-size: 3.5rem; }
  .galeria {
    width: 80vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr); }
    .galeria .imagenGaleria {
      filter: grayscale(0); }
    .galeria .imagen4 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 5; }
    .galeria .imagen5 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6; }
    .galeria .imagen6 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 5; }
    .galeria .imagen7 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 8;
      grid-row-end: 9; }
    .galeria .imagen8 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 8; }
    .galeria .imagen9 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 5;
      grid-row-end: 7; }
    .galeria .imagen10 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 7;
      grid-row-end: 9; }
    .galeria .imagen11,
    .galeria .imagen12 {
      display: none; }
  .contenedorGeneral .seccionFormulario,
  .contenedorGeneral .horariosUbicacion {
    width: 80vw; } }

@media (max-width: 1050px) {
  .contenedorInicio .main .acaInicio {
    width: 80vw; }
  .contenedorGeneral .seccionFormulario,
  .contenedorGeneral .horariosUbicacion {
    width: 90vw; } }

@media (max-width: 991px) {
  .header {
    height: 500px; }
    .header .navbar .container-fluid .fondoBlack {
      --bs-bg-opacity: 1;
      background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; }
    .header .navbar .container-fluid .navbar-collapse .logoHeader {
      display: none; } }

@media (max-width: 850px) {
  .footer .contenedorFooter .seccionLogo {
    width: 30%; } }

@media (max-width: 780px) {
  .footer .contenedorFooter {
    flex-direction: column; }
    .footer .contenedorFooter .seccionLinks,
    .footer .contenedorFooter .seccionRedes,
    .footer .contenedorFooter .seccionContacto,
    .footer .contenedorFooter .seccionLogo {
      margin: 1rem 0; }
  .contenedorInicio .main .acaInicio {
    width: 90vw; }
  .productos {
    grid-template-columns: 1fr;
    width: 100vw;
    gap: 1rem; }
  .galeria {
    width: 90vw;
    margin: 1rem auto;
    gap: 1rem; }
  .contenedorGeneral .contactoTitulos {
    width: 100vw; }
  .contenedorGeneral .horariosUbicacion {
    flex-direction: column; } }

@media (max-width: 600px) {
  .footer .contenedorFooter .seccionLogo {
    width: 40%; }
  .galeria {
    gap: .5rem; }
  .banner p {
    font-size: .7rem; }
  .banner h2 {
    font-size: 3rem; }
  .conocenos {
    width: 90vw; }
    .conocenos .nosotrosDescripcion h3 {
      font-size: 1.3rem; }
    .conocenos .nosotrosDescripcion p {
      font-size: 1rem; }
  .contenedorInicio .main .acaInicio .nosotrosInicio h3 {
    font-size: 1.3rem; }
  .contenedorInicio .main .acaInicio .nosotrosInicio p {
    font-size: 1rem; } }

@media (max-width: 500px) {
  .footer .contenedorFooter .seccionLogo {
    width: 50%; }
  .footer .contenedorFooter .seccionContacto h4,
  .footer .contenedorFooter .seccionLinks h4,
  .footer .contenedorFooter .seccionRedes h4 {
    font-size: 1.2rem; }
  .contenedorGeneral .horariosUbicacion .mapa {
    width: 90%; } }

@media (max-width: 350px) {
  .footer .contenedorFooter .seccionLogo {
    width: 60%; } }
