/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
/* Maitre & Maven pro & open sans*/
@import url("https://fonts.googleapis.com/css2?family=Maitree&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Reset */
* {
  padding: 0;
  margin: 0;
  border: 0; }

/* Variables */
.banner {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15rem 0; }
  .banner p {
    color: #BEA88E;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    margin: 0; }
  .banner h2 {
    color: white;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    margin: 0; }
  .banner p, .banner h2 {
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 8px black; }

.footer .contenedorFooter .seccionLinks, .footer .contenedorFooter .seccionRedes, .footer .contenedorFooter .seccionContacto {
  height: 30%; }
  .footer .contenedorFooter .seccionLinks h4, .footer .contenedorFooter .seccionRedes h4, .footer .contenedorFooter .seccionContacto h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #F9FAFA; }
  .footer .contenedorFooter .seccionLinks ul, .footer .contenedorFooter .seccionRedes ul, .footer .contenedorFooter .seccionContacto ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; }
    .footer .contenedorFooter .seccionLinks ul li, .footer .contenedorFooter .seccionRedes ul li, .footer .contenedorFooter .seccionContacto ul li {
      list-style: none;
      font-family: 'Open Sans', sans-serif;
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 14px;
      color: #C4C4C4;
      cursor: pointer; }
      .footer .contenedorFooter .seccionLinks ul li:hover, .footer .contenedorFooter .seccionRedes ul li:hover, .footer .contenedorFooter .seccionContacto ul li:hover {
        color: white; }
      .footer .contenedorFooter .seccionLinks ul li a, .footer .contenedorFooter .seccionRedes ul li a, .footer .contenedorFooter .seccionContacto ul li a {
        text-decoration: none;
        color: #C4C4C4; }
        .footer .contenedorFooter .seccionLinks ul li a:hover, .footer .contenedorFooter .seccionRedes ul li a:hover, .footer .contenedorFooter .seccionContacto ul li a:hover {
          color: white; }
      .footer .contenedorFooter .seccionLinks ul li i, .footer .contenedorFooter .seccionRedes ul li i, .footer .contenedorFooter .seccionContacto ul li i {
        color: #BEA88E;
        font-size: 1rem; }

/* Componentes */
.botones {
  padding: .5rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  background-color: #151D1B;
  color: white;
  cursor: pointer; }
  .botones:hover {
    background-color: #BEA88E;
    transition: .5s; }

.comprar {
  background-color: #28a745; }

/* Header */
.header {
  grid-area: header;
  background-image: url(../img/fondo-principal-bajo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; }
  .header .portadaLogo {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header .portadaLogo h1 {
      text-align: center;
      padding: 2rem;
      color: white;
      font-size: 1.2rem;
      font-family: 'Maitree', serif;
      font-style: italic; }
    .header .portadaLogo .logo {
      width: 12.5rem;
      padding-top: 6rem; }

/* Navbar */
.navbar {
  background-color: #151D1B !important; }
  .navbar .navbar-collapse {
    justify-content: center; }
    .navbar .navbar-collapse .nav-link {
      font-family: 'Open Sans', sans-serif;
      color: #FFF;
      text-decoration: none;
      font-size: 16px;
      margin: 0px 10px;
      padding: 10px 10px;
      position: relative;
      z-index: 0;
      cursor: pointer; }
      .navbar .navbar-collapse .nav-link:before, .navbar .navbar-collapse .nav-link:after {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 2px;
        background: #BEA88E;
        content: "";
        opacity: 0;
        transition: all 0.3s; }
      .navbar .navbar-collapse .nav-link:before {
        top: 0px;
        transform: translateY(10px); }
      .navbar .navbar-collapse .nav-link:after {
        bottom: 0px;
        transform: translateY(-10px); }
      .navbar .navbar-collapse .nav-link:hover:before, .navbar .navbar-collapse .nav-link:hover:after {
        opacity: 1;
        transform: translateY(0px); }

/* Footer */
.footer {
  grid-area: footer; }
  .footer .contenedorFooter {
    height: 45vh;
    background-color: #151D1B;
    display: grid;
    grid-template-columns: 30% 15% 15% 15%;
    align-items: center;
    justify-items: center;
    justify-content: center; }
    .footer .contenedorFooter .seccionLogo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      height: 30%; }
      .footer .contenedorFooter .seccionLogo .logoFooter {
        width: 210px; }
      .footer .contenedorFooter .seccionLogo p {
        color: #C4C4C4;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        margin: 0;
        text-align: left;
        line-height: normal; }
        .footer .contenedorFooter .seccionLogo p span {
          font-weight: bold; }
  .footer .seccionCopyright {
    background-color: #151D1B;
    border-top: 1px solid #2C3033; }
    .footer .seccionCopyright p {
      color: #C4C4C4;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 0;
      text-align: center;
      padding: 2rem 0; }
      .footer .seccionCopyright p span {
        font-weight: bold; }

/* Inicio */
.contenedorInicio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
  width: auto; }
  .contenedorInicio .main {
    grid-area: main;
    padding: 1rem; }
    .contenedorInicio .main .acaInicio {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .contenedorInicio .main .acaInicio .nosotrosInicio {
        padding: 0 1rem;
        width: 40%; }
        .contenedorInicio .main .acaInicio .nosotrosInicio h3 {
          margin-bottom: .5rem;
          font-weight: bold;
          font-family: 'Raleway', sans-serif;
          font-size: 1.8rem; }
        .contenedorInicio .main .acaInicio .nosotrosInicio p {
          text-align: justify;
          font-weight: 400;
          font-family: 'Maven Pro', sans-serif;
          margin: 0;
          font-size: 1rem; }

/* Productos */
.productosPortada {
  background-image: url(../img/pine-wood-low.jpg); }

.medidaPortada {
  background-image: url(../img/measuring.jpg); }

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2rem;
  justify-items: center;
  width: 60vw;
  margin: 2rem auto; }
  .productos .producto {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    height: 32rem;
    width: 20rem;
    font-family: 'Open Sans', sans-serif; }
    .productos .producto img {
      width: 100%; }
    .productos .producto .productoCard {
      padding: 5px 10px; }
      .productos .producto .productoCard .drow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .4rem; }
      .productos .producto .productoCard p {
        color: #3d3d3d;
        margin-bottom: 1.7rem;
        font-size: 14px;
        padding: 0 1rem; }
      .productos .producto .productoCard h4,
      .productos .producto .productoCard h3 {
        font-weight: bold;
        color: black;
        margin: 1.5rem 0; }
      .productos .producto .productoCard h4 {
        font-size: 1.17rem; }
      .productos .producto .productoCard h3 {
        font-size: 1rem; }
      .productos .producto .productoCard .productoBotones {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem; }

/* Galeria */
.portadaGaleria {
  background-image: url(../img/portada-galeria.jpg); }

.galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5rem;
  width: 60vw;
  margin: 2rem auto; }
  .galeria .imagenGaleria {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.3);
    cursor: pointer;
    transition: all 200ms ease-in; }
    .galeria .imagenGaleria:hover {
      filter: grayscale(0); }
  .galeria .imagen1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; }
  .galeria .imagen2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; }
  .galeria .imagen3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4; }
  .galeria .imagen4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: -7;
    grid-row-end: -5; }
  .galeria .imagen5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4; }
  .galeria .imagen6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; }
  .galeria .imagen7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5; }
  .galeria .imagen8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7; }
  .galeria .imagen9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6; }
  .galeria .imagen10 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6; }
  .galeria .imagen11 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7; }
  .galeria .imagen12 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7; }

/* Custom lightbox */
.lightbox .lb-image {
  border-radius: 0px;
  border: 0px solid #fff; }

/* Nosotros */
.nosotrosPortada {
  background-image: url(../img/SN_CIUDAD_blow.jpg); }

.conocenos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0; }
  .conocenos section {
    width: 30%; }
  .conocenos h3 {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem; }
  .conocenos h3 span {
    font-weight: bold; }
  .conocenos p {
    text-align: justify;
    font-weight: 400;
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    font-size: 1rem; }
  .conocenos img {
    width: 50%;
    border-radius: .3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }

.divisor {
  position: relative;
  margin: 4rem 0;
  height: 1px; }

.div-transparente:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #a1a7a6, transparent); }

.historia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .5rem;
  margin: 0 1rem 2rem; }
  .historia .imgHistoria {
    width: 100%;
    height: 450px;
    border-radius: .25rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .historia .imgHistoria h3 {
      font-family: 'Open sans', sans-serif;
      font-size: 1.5rem;
      font-weight: bold; }
    .historia .imgHistoria p {
      text-align: justify;
      font-family: 'Maven Pro', sans-serif;
      font-size: 1rem;
      text-transform: uppercase; }
    .historia .imgHistoria p,
    .historia .imgHistoria h3 {
      margin: .5rem 1rem; }
  .historia .img1 {
    background-image: url(../img/comienzo.jpg);
    background-position: 50%;
    background-size: cover; }
  .historia .img2 {
    background-image: url(../img/avance.jpg);
    background-position: 50%;
    background-size: cover; }
  .historia .img3 {
    background-image: url(../img/mejoras.jpg);
    background-position: 50%;
    background-size: cover; }
  .historia .img4 {
    background-image: url(../img/actual.jpg);
    background-position: 90%;
    background-size: cover; }

/* Contacto */
.contenedorGeneral {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0; }

.contacto {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start; }

.contacto h3 {
  margin-bottom: .5rem;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem; }

.contacto p,
.contacto ul li {
  font-weight: 400;
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  font-size: 1rem; }

.contacto ul li span {
  font-weight: bold; }

.seccionFormulario,
.contacto {
  padding: 0 1rem; }

.formulario {
  width: 100%; }

.flexRow {
  display: flex;
  flex-direction: row; }

.formulario input[type=text],
.formulario input[type=email],
form textarea {
  padding-bottom: .5rem;
  outline: none;
  border-bottom: solid 2px #ccc;
  font-size: 1rem;
  font-family: 'Maven Pro', sans-serif;
  margin-bottom: 2rem; }

.formulario input[type=text],
.formulario input[type=email] {
  width: 50%; }

.formulario input[type=text]:focus,
.formulario input[type=email]:focus,
form textarea:focus {
  transition: 2s;
  border-bottom: solid 2px #151D1B; }

.apellido,
.motivo {
  margin-left: 1rem; }

.formulario textarea {
  resize: none;
  width: 100%; }

/* Responsive */
@media (max-width: 1660px) {
  .productos {
    width: 80vw; } }

@media (max-width: 1361px) {
  /* Inicio */
  .contenedorInicio .main .acaInicio {
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin: 1rem auto; }
    .contenedorInicio .main .acaInicio .nosotrosInicio {
      width: 100%;
      padding: 0; }
      .contenedorInicio .main .acaInicio .nosotrosInicio p {
        margin-bottom: 1rem; }
    .contenedorInicio .main .acaInicio .imagenPrincipal {
      width: 100%; } }

@media (max-width: 1240px) {
  /* Productos */
  .productos {
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    row-gap: 1rem; }
  /* Banners */
  .banner {
    padding: 10rem 0; }
    .banner p {
      font-size: 1rem; }
    .banner h2 {
      font-size: 3.5rem; }
  /* galeria */
  .galeria {
    padding: 1rem; } }

@media (max-width: 1070px) {
  .conocenos {
    flex-direction: column-reverse; }
    .conocenos section,
    .conocenos img {
      width: 80%; } }

@media (max-width: 1050px) {
  /* header */
  .header {
    background-position: 50%; }
  /* Footer */
  .footer .contenedorFooter {
    grid-template-columns: 30% 30%; }
  .footer .seccionLinks {
    align-self: center; }
  /* Inicio */
  .contenedorInicio .main .acaInicio {
    width: 80vw; }
  /* Banners */
  .banner {
    padding: 7rem 0; }
  /* contacto */
  .contenedorGeneral {
    grid-template-columns: 1fr;
    padding: 1rem 0; }
    .contenedorGeneral .contacto {
      flex-direction: row;
      width: 100%; } }

@media (max-width: 780px) {
  /* Productos */
  .productos {
    grid-template-columns: 1fr;
    width: 100vw;
    gap: 1rem; }
  /* Nosotros */
  .historia {
    grid-template-columns: 1fr 1fr; }
  /* Inicio */
  .contenedorInicio .main .acaInicio {
    width: 90vw; } }

@media (max-width: 700px) {
  /* Footer */ }

@media (max-width: 600px) {
  /* Header */
  .header {
    background-position: 50%; }
  /* Footer */
  /* Contacto */
  .contenedorGeneral {
    padding: 1rem 0; }
  /* Banners */
  .banner {
    padding: 2rem 0; }
    .banner p {
      font-size: .7rem; }
    .banner h2 {
      font-size: 3rem; }
  /* Nosotros */
  .conocenos section,
  .conocenos img {
    width: 95%; }
  .historia {
    grid-template-columns: 1fr; } }
