// FONTS

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
/* Maitre & Maven pro & open sans*/
@import url('https://fonts.googleapis.com/css2?family=Maitree&family=Maven+Pro&display=swap');
// Open sans
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//IMPORT LIST

/* Reset */
@import './base/reset';
/* Variables */
@import './utilities/extend';
/* Header */
@import './layout/header';
/* Navbar */
@import './layout/navbar';
/* Footer */
@import './layout/footer';
/* Inicio */
@import './views/inicio';
/* Productos */
@import './views/productos';
/* Galeria */
@import './views/galeria';
/* Nosotros */
@import './views/nosotros';
/* Contacto */
@import './views/contacto';

/* Responsive - Media query */
@media (max-width: 1361px) {

    /* Inicio */
    .acaInicio {
        flex-direction: column;
        align-items: center;
    }

    .imagenPrincipal {
        width: 100%;
    }

    .nosotrosInicio {
        padding: 1rem 0;
        width: 100%;
    }

    .main {
        padding: 1rem;
    }

}

@media (max-width: 1240px) {

    /* Productos */
    .productos {
        grid-template-columns: 1fr 1fr;
        padding: 2rem 0;
        gap: 1rem;
    }

    .productosPortada,
    .medidaPortada,
    .portadaGaleria,
    .conocenosPortada {
        padding: 10rem 0;
    }

    .productosPortada p,
    .medidaPortada p,
    .portadaGaleria p,
    .conocenosPortada p {
        font-size: 1rem;
    }

    .productosPortada h2,
    .medidaPortada h2,
    .portadaGaleria h2,
    .conocenosPortada h2 {
        font-size: 3.5rem;
    }

    /* galeria */
    .galeria {
        padding: 1rem;
    }

}
@media(max-width: 1070px){
    .conocenos{
        flex-direction: column-reverse;
    }
    .conocenos section ,.conocenos img{
        width: 80%;
    }
}
@media (max-width: 1050px) {

    /* header */
    .header {
        background-position: 50%;
    }

    /* inicio */
    .acaInicio {
        flex-direction: column;
    }

    .nosotrosInicio {
        padding: 0;
    }

    .nosotrosInicio p {
        margin-bottom: 1rem;
    }

    /* footer */
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .mapa {
        padding: 1rem 0;
    }

    .redesContacto {
        justify-self: center;
    }

    /* productos, galeria, acerca de */
    .productosPortada,
    .medidaPortada,
    .portadaGaleria,
    .conocenosPortada {
        padding: 7rem 0;
    }

    /* contacto */
    .contenedorGeneral {
        grid-template-columns: 1fr;
        padding: 1rem 0;
    }

    .contacto {
        flex-direction: row;
        width: 100%;
    }
}

@media (max-width: 780px) {

    /* Productos */
    .productos {
        grid-template-columns: 1fr;
        padding: 2rem 0;
        gap: 1rem;
    }

    /* Acerca de */
    .historia{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {

    /* footer */
    .mapa iframe {
        width: 100%;
    }

    .mapa {
        width: 100%;
        padding: 1rem .5rem;
    }
}

@media (max-width: 600px) {

    /* footer */
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .redesContacto {
        justify-self: center;
    }

    .redesContacto {
        padding: .5rem;
    }

    /* header */
    .header {
        background-position: 50%;
    }

    /* inicio */
    .contenedorInicio {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "main"
            "footer";
    }

    .main {
        padding: .5rem 1rem;
    }

    .acaInicio h3 {
        text-align: center;
    }

    /* contacto */
    .contenedorGeneral {
        padding: 1rem 0;
    }

    /* productos, galeria, acerca de */
    .productosPortada,
    .medidaPortada,
    .portadaGaleria,
    .conocenosPortada {
        padding: 2rem 0;
    }

    /* productos */
    .productosPortada p,
    .medidaPortada p,
    .portadaGaleria p,
    .conocenosPortada p {
        font-size: .7rem;
    }

    .productosPortada h2,
    .medidaPortada h2,
    .portadaGaleria h2,
    .conocenosPortada h2 {
        font-size: 3rem;
    }
    /* Acerca de */
    .conocenos section, .conocenos img{
        width: 95%;
    }
    .historia{
        grid-template-columns: 1fr;
    }
}