// Banners
%banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    // padding: 15rem 0;
    // padding: 11rem 0;


    p {
        color: #BEA88E;
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        margin: 0;
    }

    h2 {
        color: white;
        font-size: 4rem;
        font-family: 'Raleway', sans-serif;
        margin: 0;
    }

    p,
    h2 {
        font-weight: bold;
        text-align: center;
        // text-shadow: 1px 2px 8px black;
    }
}
// Footer links list
%footerList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h4 {
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        color: #F9FAFA;
        margin: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            list-style: none;
            font-family: 'Open Sans', sans-serif;
            display: flex;
            gap: 8px;
            align-items: center;
            font-size: 14px;
            color: #C4C4C4;
            cursor: pointer;
            &:hover {
                color: white;
            }
            a{
                text-decoration: none;
                color: #C4C4C4;
                &:hover {
                    color: white;
                }
            }
            i {
                color: #BEA88E;
                font-size: 1rem;
            }
        }
    }
}