.footer {
    grid-area: footer;
    .contenedorFooter {
        min-height: 45vh;
        background-color: #151D1B;
        // display: grid;
        // grid-template-columns: 30% 15% 15% 15%;
        // align-items: center;
        // justify-items: center;
        // justify-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        .seccionLogo {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            width: 20%;
            
            .logoFooter {
                width: 210px;
                // margin-bottom: 1rem;
            }

            p {
                color: #C4C4C4;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                margin: 0;
                text-align: left;
                line-height: normal;
                width: 210px;
                // width: 100%;
                span {
                    font-weight: bold;
                }
            }
        }

        .seccionLinks {
            @extend %footerList;
        }

        .seccionRedes {
            @extend %footerList;
        }

        .seccionContacto {
            @extend %footerList;
        }
    }

    .seccionCopyright {
        background-color: #151D1B;
        border-top: 1px solid #2C3033;
        p {
            color: #C4C4C4;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            margin: 0;
            text-align: center;
            padding: 2rem 0;
            span {
                font-weight: bold;
            }
        }
    }

}