.footer {
    grid-area: footer;
    .contenedorFooter {
        height: 45vh;
        background-color: #151D1B;
        display: grid;
        grid-template-columns: 30% 15% 15% 15%;
        align-items: center;
        justify-items: center;
        justify-content: center;

        .seccionLogo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            height: 30%;

            .logoFooter {
                width: 210px;
            }

            p {
                color: #C4C4C4;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                margin: 0;
                text-align: left;
                line-height: normal;
                span {
                    font-weight: bold;
                }
            }
        }

        .seccionLinks {
            @extend %footerList;
        }

        .seccionRedes {
            @extend %footerList;
        }

        .seccionContacto {
            @extend %footerList;
        }
    }

    .seccionCopyright {
        background-color: #151D1B;
        border-top: 1px solid #2C3033;
        p {
            color: #C4C4C4;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            margin: 0;
            text-align: center;
            padding: 2rem 0;
            span {
                font-weight: bold;
            }
        }
    }

}