.header {
    grid-area: header;
    background-image: url('../../img/fondo-test-ob.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}