.contenedorInicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "main main main"
        "footer footer footer";
    width: auto;

    .main {
        grid-area: main;

        .acaInicio {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 7rem 0 4rem;

            .nosotrosInicio {
                padding: 0 1rem;
                width: 40%;

                h3 {
                    margin-bottom: .5rem;
                    font-weight: bold;
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.8rem;
                }

                p {
                    text-align: justify;
                    font-weight: 400;
                    font-family: 'Maven Pro', sans-serif;
                    margin: 0;
                    font-size: 1.2rem;
                }
            }
        }

        .destacados {
            // border: 1px solid red;
            height: 650px;
            background-image: url('https://res.cloudinary.com/dtpfo51rx/image/upload/v1657715490/destacados-test-2_ifepsc.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            margin-bottom: 7rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .cardDes {
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                height: 450px;
                width: 350px;

                .cardImg {
                    width: 100%;
                    height: 50%;
                }

                .cardBody {
                    display: flex;
                    flex-direction: column;
                    height: 50%;

                    .cardTitulo {

                        h4,
                        p {
                            margin: 0;
                        }

                        p {
                            color: #3d3d3d;
                            font-size: 14px;
                        }
                    }

                }

            }
        }
    }
}