.banner {
    @extend %banner;
}

.nosotrosPortada {
    background-image: url(../img/SN_CIUDAD_blow.jpg);
}

.conocenos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;

    section {
        width: 30%;
    }

    h3 {
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
        font-size: 1.8rem;
    }

    h3 span {
        font-weight: bold;
    }

    p {
        text-align: justify;
        font-weight: 400;
        font-family: 'Maven Pro', sans-serif;
        margin: 0;
        font-size: 1rem;
    }

    img {
        width: 50%;
        border-radius: .3rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}

// .divisor {
//     position: relative;
//     margin: 4rem 0;
//     height: 1px;
// }

// .div-transparente {
//     &:before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 5%;
//         right: 5%;
//         width: 90%;
//         height: 1px;
//         background-image: linear-gradient(to right, transparent, #a1a7a6, transparent);
//     }
// }
.divisor {
    height: 20px;
    position: relative;
    width: 100%;
    margin: 4rem 0;
    background: radial-gradient(ellipse farthest-side at top center, rgba(0, 0, 0, 0.08), transparent);
}

.div-transparente {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02), transparent);
}

.historia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;
    margin: 0 1rem 2rem;

    .imgHistoria {
        width: 100%;
        height: 450px;
        border-radius: .25rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h3 {
            font-family: 'Open sans', sans-serif;
            font-size: 1.5rem;
            font-weight: bold;
        }

        p {
            text-align: justify;
            font-family: 'Maven Pro', sans-serif;
            font-size: 1rem;
            text-transform: uppercase;
        }

        p,
        h3 {
            margin: .5rem 1rem;
        }
    }

    .img1 {
        background-image: url(../img/comienzo.jpg);
        background-position: 50%;
        background-size: cover;
    }

    .img2 {
        background-image: url(../img/avance.jpg);
        background-position: 50%;
        background-size: cover;
    }

    .img3 {
        background-image: url(../img/mejoras.jpg);
        background-position: 50%;
        background-size: cover;
    }

    .img4 {
        background-image: url(../img/actual.jpg);
        background-position: 90%;
        background-size: cover;
    }
}