.banner {
    @extend %banner;
}

.nosotrosPortada {
    background-image: url(../../img/portada-nosotros.jpg)
}

.conocenos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 90vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    .nosotrosDescripcion {
        section {
            padding: 0 4rem;
        }

    }

    .nosotrosDescripcion,
    .nosotrosPrincipal {
        width: 50%;
    }

    h3 {
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        font-size: 1.8rem;
    }

    h3 span {
        font-weight: bold;
    }

    p {
        text-align: justify;
        font-weight: 400;
        font-family: 'Maven Pro', sans-serif;
        margin: 0;
        font-size: 1.2rem;

        span {
            font-weight: bold;
        }
    }

    .nosotrosPrincipal {
        // width: 50%;
        filter: grayscale(1);
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}
