.productosPortada {
    background-image: url(../img/pine-wood-low.jpg);
    @extend %banner;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 3rem 0;
    justify-items: center;

    .producto {
        display: flex;
        flex-direction: column;
        align-items: center;

        img,
        h3,
        p {
            margin-bottom: .5rem;
        }

        img {
            border-radius: 1rem;
        }

        h3,
        p {
            text-align: left;
            width: 100%;
        }

        h3 {
            font-family: 'Raleway', sans-serif;
            font-size: 1.2rem;
            font-weight: 600;
        }

        p {
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 1rem;
        }

        .comprar {
            padding: .5rem;
            border-radius: 1rem;
            font-weight: 700;
            font-size: 1rem;
            background-color: #151D1B;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: #BEA88E;
            }
        }
    }
}

.medidaPortada {
    background-image: url(../img/measuring.jpg);
    @extend %banner;
}