@media (max-width: 1660px) {

    // productos
    .productos {
        width: 80vw;
    }
}

@media (max-width: 1361px) {

    /* Inicio */
    .contenedorInicio {
        .main {
            .acaInicio {
                flex-direction: column;
                align-items: center;
                width: 70vw;
                margin: 1rem auto;

                .nosotrosInicio {
                    width: 100%;
                    padding: 0;

                    p {
                        margin-bottom: 1rem;
                    }
                }

                .imagenPrincipal {
                    width: 100%;
                }
            }
        }
    }

}

@media (max-width: 1240px) {

    /* Productos */
    .productos {
        grid-template-columns: 1fr 1fr;
        width: 90vw;
        row-gap: 1rem;
    }

    /* Banners */
    .banner {
        padding: 10rem 0;

        p {
            font-size: 1rem;
        }

        h2 {
            font-size: 3.5rem;
        }
    }

    /* galeria */
    .galeria {
        width: 80vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);

        .imagen4 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 5;
        }

        .imagen5 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 5;
            grid-row-end: 6;
        }

        .imagen6 {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 5;
        }

        .imagen7 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 8;
            grid-row-end: 9;
        }

        .imagen8 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 6;
            grid-row-end: 8;
        }

        .imagen9 {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 5;
            grid-row-end: 7;
        }

        .imagen10 {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 7;
            grid-row-end: 9;
        }

        .imagen11,
        .imagen12 {
            display: none;
        }

    }

}

@media(max-width: 1070px) {
    .conocenos {
        flex-direction: column-reverse;

        section,
        img {
            width: 80%;
        }
    }
}

@media (max-width: 1050px) {

    /* header */
    .header {
        background-position: 50%;
    }

    /* Inicio */
    .contenedorInicio {
        .main {
            .acaInicio {
                width: 80vw;
            }
        }
    }

    /* Banners */
    .banner {
        padding: 7rem 0;
    }

    /* contacto */
    .contenedorGeneral {
        grid-template-columns: 1fr;
        padding: 1rem 0;

        .contacto {
            flex-direction: row;
            width: 100%;
        }
    }
}

@media (max-width: 850px) {
    .footer {
        .contenedorFooter {

            .seccionLogo {
                width: 25%;

                .logoFooter {
                    width: 100%;
                }

                p {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 780px) {

    /* Footer */
    .footer {
        .contenedorFooter {
            flex-direction: column;

            .seccionLinks,
            .seccionRedes,
            .seccionContacto,
            .seccionLogo {
                margin: 1rem 0;
            }
        }
    }

    /* Inicio */
    .contenedorInicio {
        .main {
            .acaInicio {
                width: 90vw;
            }
        }
    }

    /* Productos */
    .productos {
        grid-template-columns: 1fr;
        width: 100vw;
        gap: 1rem;
    }

    /* Galeria */
    .galeria {
        width: 90vw;
        margin: 1rem auto;
        gap: 1rem;
    }

    /* Nosotros */
    .historia {
        grid-template-columns: 1fr 1fr;
    }

    /* Contacto */



}

@media (max-width: 600px) {

    /* Header */
    .header {
        background-position: 50%;
    }

    /* Footer */
    .footer {
        .contenedorFooter {
            .seccionLogo {
                width: 40%;
            }
        }
    }

    /* Galeria */
    .galeria {
        gap: .5rem;
    }

    /* Contacto */
    .contenedorGeneral {
        padding: 1rem 0;
        .contacto{
            flex-direction: column;
        }
    }

    /* Banners */
    .banner {
        padding: 2rem 0;

        p {
            font-size: .7rem;
        }

        h2 {
            font-size: 3rem;
        }
    }

    /* Nosotros */
    .conocenos {

        section,
        img {
            width: 95%;
        }
    }

    .historia {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 500px) {
    .footer {
        .contenedorFooter {
            .seccionContacto,
            .seccionLinks,
            .seccionRedes {
                h4 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
@media (max-width: 350px){
    .footer {
        .contenedorFooter {
            .seccionLogo {
                width: 45%;
            }
        }
    }
}