@media (max-width: 1660px) {

    // productos
    .productos {
        width: 80vw;
    }
}

@media (max-width: 1361px) {

    /* Inicio */
    .contenedorInicio {
        .main {
            .acaInicio {
                flex-direction: column;
                align-items: center;
                width: 70vw;
                margin: 1rem auto;
                .nosotrosInicio {
                    width: 100%;
                    padding: 0;
                    p{
                        margin-bottom: 1rem;
                    }
                }
                .imagenPrincipal {
                    width: 100%;
                }
            }
        }
    }

}

@media (max-width: 1240px) {

    /* Productos */
    .productos {
        grid-template-columns: 1fr 1fr;
        width: 90vw;
        row-gap: 1rem;
    }

    /* Banners */
    .banner {
        padding: 10rem 0;

        p {
            font-size: 1rem;
        }

        h2 {
            font-size: 3.5rem;
        }
    }

    /* galeria */
    .galeria {
        padding: 1rem;
    }

}

@media(max-width: 1070px) {
    .conocenos {
        flex-direction: column-reverse;

        section,
        img {
            width: 80%;
        }
    }
}

@media (max-width: 1050px) {

    /* header */
    .header {
        background-position: 50%;
    }
    /* Footer */
    .footer {
        .contenedorFooter {
            grid-template-columns: 30% 30%;
        }
        .seccionLinks{
            align-self: center;
        }
    }
    /* Inicio */
    .contenedorInicio {
        .main {
            .acaInicio {
                width: 80vw;
            }
        }
    }

    /* Banners */
    .banner {
        padding: 7rem 0;
    }

    /* contacto */
    .contenedorGeneral {
        grid-template-columns: 1fr;
        padding: 1rem 0;

        .contacto {
            flex-direction: row;
            width: 100%;
        }
    }
}

@media (max-width: 780px) {

    /* Productos */
    .productos {
        grid-template-columns: 1fr;
        width: 100vw;
        gap: 1rem;
    }

    /* Nosotros */
    .historia {
        grid-template-columns: 1fr 1fr;
    }
    /* Inicio */
    .contenedorInicio {
        .main {
            .acaInicio {
                width: 90vw;
            }
        }
    }
}

@media (max-width: 700px) {

    /* Footer */

}

@media (max-width: 600px) {

    /* Header */
    .header {
        background-position: 50%;
    }

    /* Footer */

    
    /* Contacto */
    .contenedorGeneral {
        padding: 1rem 0;
    }

    /* Banners */
    .banner {
        padding: 2rem 0;

        p {
            font-size: .7rem;
        }

        h2 {
            font-size: 3rem;
        }
    }

    /* Nosotros */
    .conocenos {

        section,
        img {
            width: 95%;
        }
    }

    .historia {
        grid-template-columns: 1fr;
    }

}